[submodule "test_project_standalone"]
	path = test_project_standalone
	url = git@github.com:qlua-project/test_project_standalone.git
[submodule "qlua-shared-library"]
	path = qlua-shared-library
	url = git@github.com:qlua-project/qlua-shared-library.git
[submodule "test_scripts_standalone"]
	path = test_scripts_standalone
	url = git@github.com:qlua-project/test_scripts_standalone.git
[submodule "orderbook-depth-ratio"]
	path = orderbook-depth-ratio
	url = git@github.com:qlua-project/orderbook-depth-ratio.git
